
.selectclass{

    text-align: center;
    display: block;
    font-size: 14px;
    font-family: "Century Gothic";
    font-weight: 400;
    color: #2b2b2b;
    line-height: 1.3;
    padding: 0.4em 1.4em 0.3em 0.8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.03);
    border-radius: 0.3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;

}

body{
    background: black;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

td :hover{
    background-color:  #B0E0E6;
}

header{
  height: 10%;
}

#logotax{
    height: 4em;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0.5%;
}

#divisor{
    min-height: 100%;
    min-width: 100%;
    background-color: #d49800;
}

h1{
    margin: 0;
}

footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    height: 10%;
    text-align: center;
    padding: 1%;
    font-size: 80%;
    
}

a {

    color: rgb(255, 255, 255);    

}

a:visited {
    color: rgb(255, 255, 255);
    
    }

a:hover{
    text-decoration: underline;
    color: rgb(224, 181, 64);
}

#contenido{

    min-width: 70%;
    height: 100%;
    min-height: 70%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#input_buscador{
    margin-bottom:0%;
    width: 66%;
    height: 1em;
    border-color: #e4e3e3;
    border-top-color: #f1f1f1;
    align-self: left;
    color: rgb(34, 34, 34);
    border-width: 0.5px;
    border-radius: 6px;
    background-color: whitesmoke;
    padding: 1%;
    text-align: center;

    
    }

    #btn_agregar:hover{
        background-color: black ;
        color: green;
    }

    #btn_agregar{
        background: black;
        border-radius: 5px;
        font-size: 80%;
        font-family: "Century Gothic";
        min-height: 3.2em;
        max-height: 3.2em;
        font-weight: 700;
        color: white;
        border: none;
        width: 8%;
        border-color: transparent;
        display:inline;
        text-align: center;
        margin-top: 0;
        align-self: top;
        
  
    }

    #divbuscador{
        margin-top:1%;
        margin-bottom:1%;
        align-content: top;
        display:inline-block;
        width:100%;
    }

   
    .ancho{
        width: 40%;
        vertical-align:top;
    }

    .angosto{
        vertical-align:top;
        padding: 0px;
        padding-right: 20px;
    }

    #tabla_temas{
        width:85%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255, 255, 255, 0.80);
        padding-right: 4%;
        padding-top: 2%;
        padding-left: 4%;
        padding-bottom: 4%;
        font-size: 90%;
    }

    
    #contenedor_add_box{
        position: absolute;
        left:0px;
        top:0px;
        width: 100%;
        height:800%;
        background-color: rgb(0, 0, 0, 0.50) ;
        z-index: 1;
        opacity: 1;
    
    }
    
    
    #add_box{
        position: absolute;
        top: 2%;
        margin-left: 25%;
        width: 50%;
        height: 380px;
        background-color: rgb(255, 255, 255);
        z-index: 2;
        opacity: 1;
    
    }
    
    .input_add{
    margin-top:auto;
    margin-left:10%;
    margin-bottom:0%;
    width: 80%;
    height:50px;
    border-color: #e4e3e3;
    border-top-color: #f1f1f1;
    align-self: left;
    color: rgb(34, 34, 34);
    border-width: 0.5px;
    background-color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    padding: 3%;
    resize: none;
    }
    
    
    #btn_add{
        background: #ffbb18;
          border-radius: 5px;
          font-family: "Century Gothic";
          font-size: 80%;
          font-weight: 700;
          color: #3e3e3e;
          border: none;
          width: 45%;
          min-height: 35px;
          border-color: transparent;
          display: inline;
          text-align: center;
          margin-top: 3%;
          margin-left: 10%;
    
        }
        
        #btn_add:hover{
        background-color: rgb(0, 0, 0);
        color: whitesmoke;
        }
    
        #btn_add_cerrar{
        background: rgb(145, 4, 4);
        color:white;
          border-radius: 5px;
          font-family: "Century Gothic";
          font-size: 80%;
          font-weight: 700;
          border: none;
          width: 40%;
          min-height: 35px;
          border-color: transparent;
          display: inline;
          text-align: center;
          
    
        }
    
        #btn_add_cerrar:hover{
    
        background-color: rgb(0, 0, 0);
        color: whitesmoke;
    
        }
        
        #parrafo_add{
            margin-top: 6%;
            margin-bottom: 3%;
            text-align: center;
            font-weight: bold;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .svg :hover {cursor:pointer;}